body {
    min-height: 100%;
    height: 100%;
    background-color: #101010 !important;
}

html {
    min-height: 100%;
    height: 100%;
}
p {
    margin: unset;
}
#__next {
    height: 100%;
}